@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

body {
  width: 100%;
  font-family: "Salsa", cursive;
}

.all {
  display: flex;
}

.sidebar {
  width: 20%;
  border: 2px solid lightgrey;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
.main .list {
  text-align: center;
  font-size: 3rem;
  color: orange;
  text-decoration: underline;
}
.explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #397e19;
  padding: 1em;
}
:root {
  --spacing-l: 2em;
  --width-container: 85em;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  height: 200em;
  margin-top: 3em;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 118em;
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    height: 118em;
  }
}
@media (max-width: 380px) {
  .sidebar {
    display: none;
  }
  .explanation {
    text-align: center;
  }
}

.card {
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  border: 5px solid #e5e5e5;
}
.card:hover {
  transform: scale(1.05) translateZ(0);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.card-grid:hover > .card:not(:hover) {
  filter: brightness(0.8) saturate(0) contrast(1) blur(5px);
}
.card .container {
  width: 100%;
  height: 100%;
}
.card .container .top {
  height: 80%;
  width: 100%;
}
.card .container .top img {
  width: 100%;
}

.card .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
  border-top: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .container .bottom h1 {
  font-family: "Salsa", cursive;
  color: #397e19;
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.4;
}

.card .container .bottom .details {
  padding: 20px;
  text-align: center;
}

.card .inside {
  z-index: 9;
  background: #9d9d9dd6;
  width: 8.6em;
  height: 8.6em;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 33%;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.card .inside .icon {
  position: absolute;
  right: 4.2em;
  top: 4.2em;
  color: white;
  opacity: 1;
  font-size: larger;
}
.card .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.card .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.card .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.card .inside .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18em;
  padding: 5%;
  opacity: 1;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
/* .card .inside .contents p {
  color: orange;
} */
.card .inside .contents p span {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa,
.fas {
  font-weight: 900;
  font-size: 2.5rem;
}
